.bg-red {
    background-color:#61482E;
}

.bg-lino {
    background-color: #bda253;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link:hover {
    text-decoration: underline;
}

.card:hover {
    transform: scale(1.1);
}