.bg-red {
    background-color:#61482E;
}

.bg-lino {
    background-color: #bda253;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link:hover {
    text-decoration: underline;
}

.card {
    width: 20rem;
    height: 25rem;
}

.card:hover {
    transform: scale(1.1);
}

#lugar {
    display: flex;
    flex-direction: column;
}

#artistas__cards {
    display: flex;
    flex-direction: column;
}

#concurso__img {
    display: none;
}

@media screen and (min-width: 900px) {
    #lugar {
        flex-direction: row;
    }
    #lugar__img, #lugar__text {
        width: 50%;
    }

    #artistas__cards {
        flex-direction: row;
    }

    #concurso__img {
        display: block;
    }
    .tarjetas {
        flex-direction: column;
    }
    
    .card {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
        transition: transform .2s;
    }
    .card:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 5px gray;
    }
    
    .dividida {
        display: flex;
        flex-direction: column;
    }
    
    .dividida__image {
        width: 100%;
        height: 400px;
        background-image: url('../img/honolulu.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
    }
    
    .dividida__texto {
        width: 100%;
    }
    
    footer {
        background-color: rgb(28, 63, 83);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .footer__link {
        width: 200px;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .footer__link a {
        text-decoration: none;
        color: white;
    }
    
    .tickets__description {
        color: gray;
        font-size: small;
    }
    
    .tickets__porcent {
        font-weight: bold;
    }
    
    .formulario {
        width: 100%;
    }
    
    .footer__link a:hover {
        font-weight: bold;
        text-decoration: underline;
    }
    footer {
        background-color: rgb(28, 63, 83);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer__link {
        width: 100px;
        margin: 20px;
        padding: 5px;
    }

    .formulario {
        width: 50%;
    }
    
}